# Data Structures and Sequences

In [1]:
import numpy as np
from pandas import *
import pandas as pd

## Tuple

A tuple is one-dimensional, fixed-length, *immutable* sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [2]:
tup = 1, 2, 3

In [3]:
tup

(1, 2, 3)

It's often necessary to enclose the values in parentheses, as in this example of creating a tuple of tuples:

In [4]:
nested_tup = (1, 2, 3), (4, 5)

In [5]:
nested_tup

((1, 2, 3), (4, 5))

Notes:

1. Any sequence of iterator can be converted to a tuple by invoking tuple:

In [6]:
tuple([1, 2, 3])

(1, 2, 3)

In [7]:
tup = tuple('string')

In [8]:
tup

('s', 't', 'r', 'i', 'n', 'g')

## List

Lists are variable-length and their contents can be modified. They can be defined using square brackets [ ] or using the list type function:

In [9]:
a_list = [1, 2, 3, None]

In [10]:
tup = ('cat', 'dog', 'monkey')

In [11]:
b_list = list(tup)

In [12]:
b_list

['cat', 'dog', 'monkey']

In [13]:
b_list[1] = 'bird'

In [14]:
b_list

['cat', 'bird', 'monkey']

## Built-in Sequence Functions

### enumerate

Returns a sequnce of (i, value) tuples:

    for i, value in enumurate(collection):
        # do something with value

In [15]:
our_list = ['cat', 'dog', 'monkey']

In [16]:
mapping = dict((v, i) for i, v in enumerate(our_list))

In [17]:
mapping

{'cat': 0, 'dog': 1, 'monkey': 2}

### sorted

**sorted** function returns a new sorted list from the elements of any sequence.

### zip

**zip** *pairs* up the elements of a number of lists, tuples, or other sequences, to create a list of tuples:

## Dictionary

Likely the most important built-in Python data structure. A more common name for it is *hash map* or *associative array*. It is a flexibly-sized collection of *key-value* pairs, where *key* and *value* are Python objects. One way to create one is by using curly braces { } and using colons to separate keys and values:

In [18]:
empty_dict = {}

In [19]:
d1 = {'a': 'hello', 'b': [1, 2, 3]}

In [20]:
d1

{'a': 'hello', 'b': [1, 2, 3]}

Note:

1. Elements can be accessed and inserted or set using the same syntax as accessing elements of a list or tuple:

In [21]:
d1[1] = 'hi there'

In [22]:
d1

{'a': 'hello', 'b': [1, 2, 3], 1: 'hi there'}

## Set

A set is an unordered collection of unique elements. You can think of them like dictionaries, but keys only, no values. A set can be created in two ways: the set function or using a *set literal* with curly braces:

In [23]:
set([1, 2, 3, 4, 5, 6])

{1, 2, 3, 4, 5, 6}

Note:

1. Sets support mathematical *set operations* like union, intersection, difference, and symmetric difference.

### Python Set Operations

| Function | Syntax | Description |
| --- | --- | --- |
| `a.add(x)` | N/A | Add element x to the set |
| `a.remove(x)` | N/A | Remove element of x from the set |
| `a.union(b)` | a \| b | All of the unique elements in a and b |
| `a.intersection(b)` | a & b | All of the elements in *both* a and b |
| `a.difference(b)` | a - b | The elements in a that are not in b |
| `a.symmetric_difference(b)` | a ^ b | All of the ements in a or b but not *both* |
| `a.issubset(b)` | N/A | *True* if the elements of a are all contained in b |
| `a.issuperset(b)` | N/A | *True* if the elements of b are all contain in a |
| `a.isdisjoint(b)` | N/A | *True* if a and b have no elements in common |

## List, Set, and Dictionary Comprehensions

*List comprehensions* allow you to concisely form a new list by filtering the elements of a collection and transforming the elements passing the filter in one concise expression. They take the basic form:

    [expr for val in collection if condition]

Which is equivalent to the following *for loop*:

    result = []
    for val in collection:
        if condition:
            result.append(expr)